.UsersTable {
    border: 1px solid black;
    border-collapse: collapse;
    display: table;
    margin: 10px;
}
.UsersTable div {
    display: table-row;
}
.UsersTable div div {
    display: table-cell;
    border: 1px solid black;
    padding: 5px 10px;
}
